In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import xlrd
import re

In [2]:
# Connect to local MySQL database
password = 'laptop' #'Om6489ega!'
connection_string = f'mysql://root:{password}@localhost:3306/etl_county_db'
engine = create_engine(connection_string)

# Alternatively, connect to sqlite database
# database_path = "etl_county_db"
# engine = create_engine(f"sqlite:///{database_path}")

In [3]:
engine.table_names()

['access', 'fips_codes', 'socioeconomic', 'stores', 'zillow_median']

In [4]:
# Data Source: Food Environment Atlas
fea_xls = './data/DataDownload.xls'
xls = pd.ExcelFile(fea_xls)
print (xls.sheet_names)

['Read_Me', 'Variable List', 'Supplemental Data - County', 'Supplemental Data - State', 'ACCESS', 'STORES', 'RESTAURANTS', 'ASSISTANCE', 'INSECURITY', 'PRICES_TAXES', 'LOCAL', 'HEALTH', 'SOCIOECONOMIC']

In [5]:
# Variable List contains descriptions of the variables in the other sheets
variables = xls.parse(sheet_name='Variable List') 
variables[variables['Category Code']=="ACCESS"]

,Category Name,Category Code,Subcategory Name,Variable Name,Variable Code,Geography,Units
0,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2010",LACCESS_POP10,CNTY10,Count
1,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2015",LACCESS_POP15,CNTY10,Count
2,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (% change), 20...",PCH_LACCESS_POP_10_15,CNTY10,% change
3,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2010",PCT_LACCESS_POP10,CNTY10,Percent
4,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2015",PCT_LACCESS_POP15,CNTY10,Percent
5,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Low income & low access to store, 2010",LACCESS_LOWI10,CNTY10,Count
6,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Low income & low access to store, 2015",LACCESS_LOWI15,CNTY10,Count
7,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Low income & low access to store (% change), 2...",PCH_LACCESS_LOWI_10_15,CNTY10,% change
8,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Low income & low access to store (%), 2010",PCT_LACCESS_LOWI10,CNTY10,Percent
9,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Low income & low access to store (%), 2015",PCT_LACCESS_LOWI15,CNTY10,Percent
10,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Households, no car & low access to store, 2010",LACCESS_HHNV10,CNTY10,Count
11,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Households, no car & low access to store, 2015",LACCESS_HHNV15,CNTY10,Count
12,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Households, no car & low access to store (% ch...",PCH_LACCESS_HHNV_10_15,CNTY10,% change
13,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Households, no car & low access to store (%), ...",PCT_LACCESS_HHNV10,CNTY10,Percent
14,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Households, no car & low access to store (%), ...",PCT_LACCESS_HHNV15,CNTY10,Percent
15,Access and Proximity to Grocery Store,ACCESS,Household Resources,"SNAP households, low access to store, 2015",LACCESS_SNAP15,CNTY10,Count
16,Access and Proximity to Grocery Store,ACCESS,Household Resources,"SNAP households, low access to store (%), 2015",PCT_LACCESS_SNAP15,CNTY10,Percent
17,Access and Proximity to Grocery Store,ACCESS,Demographics,"Children, low access to store, 2010",LACCESS_CHILD10,CNTY10,Count
18,Access and Proximity to Grocery Store,ACCESS,Demographics,"Children, low access to store, 2015",LACCESS_CHILD15,CNTY10,Count
19,Access and Proximity to Grocery Store,ACCESS,Demographics,"Children, low access to store (% change), 2010...",PCH_LACCESS_CHILD_10_15,CNTY10,% change
20,Access and Proximity to Grocery Store,ACCESS,Demographics,"Children, low access to store (%), 2010",PCT_LACCESS_CHILD10,CNTY10,Percent
21,Access and Proximity to Grocery Store,ACCESS,Demographics,"Children, low access to store (%), 2015",PCT_LACCESS_CHILD15,CNTY10,Percent
22,Access and Proximity to Grocery Store,ACCESS,Demographics,"Seniors, low access to store, 2010",LACCESS_SENIORS10,CNTY10,Count
23,Access and Proximity to Grocery Store,ACCESS,Demographics,"Seniors, low access to store, 2015",LACCESS_SENIORS15,CNTY10,Count
24,Access and Proximity to Grocery Store,ACCESS,Demographics,"Seniors, low access to store (% change), 2010 -15",PCH_LACCESS_SENIORS_10_15,CNTY10,% change
25,Access and Proximity to Grocery Store,ACCESS,Demographics,"Seniors, low access to store (%), 2010",PCT_LACCESS_SENIORS10,CNTY10,Percent
26,Access and Proximity to Grocery Store,ACCESS,Demographics,"Seniors, low access to store (%), 2015",PCT_LACCESS_SENIORS15,CNTY10,Percent
27,Access and Proximity to Grocery Store,ACCESS,Demographics,"White, low access to store, 2015",LACCESS_WHITE15,CNTY10,Count
28,Access and Proximity to Grocery Store,ACCESS,Demographics,"White, low access to store (%), 2015",PCT_LACCESS_WHITE15,CNTY10,Percent
29,Access and Proximity to Grocery Store,ACCESS,Demographics,"Black, low access to store, 2015",LACCESS_BLACK15,CNTY10,Count
30,Access and Proximity to Grocery Store,ACCESS,Demographics,"Black, low access to store (%), 2015",PCT_LACCESS_BLACK15,CNTY10,Percent
31,Access and Proximity to Grocery Store,ACCESS,Demographics,"Hispanic ethnicity, low access to store, 2015",LACCESS_HISP15,CNTY10,Count
32,Access and Proximity to Grocery Store,ACCESS,Demographics,"Hispanic ethnicity, low access to store (%), 2015",PCT_LACCESS_HISP15,CNTY10,Percent
33,Access and Proximity to Grocery Store,ACCESS,Demographics,"Asian, low access to store, 2015",LACCESS_NHASIAN15,CNTY10,Count
34,Access and Proximity to Grocery Store,ACCESS,Demographics,"Asian, low access to store (%), 2015",PCT_LACCESS_NHASIAN15,CNTY10,Percent
35,Access and Proximity to Grocery Store,ACCESS,Demographics,"American Indian or Alaska Native, low access t...",LACCESS_NHNA15,CNTY10,Count
36,Access and Proximity to Grocery Store,ACCESS,Demographics,"American Indian or Alaska Native, low access t...",PCT_LACCESS_NHNA15,CNTY10,Percent
37,Access and Proximity to Grocery Store,ACCESS,Demographics,"Hawaiian or Pacific Islander, low access to st...",LACCESS_NHPI15,CNTY10,Count
38,Access and Proximity to Grocery Store,ACCESS,Demographics,"Hawaiian or Pacific Islander, low access to st...",PCT_LACCESS_NHPI15,CNTY10,Percent
39,Access and Proximity to Grocery Store,ACCESS,Demographics,"Multiracial, low access to store, 2015",LACCESS_MULTIR15,CNTY10,Count
40,Access and Proximity to Grocery Store,ACCESS,Demographics,"Multiracial, low access to store (%), 2015",PCT_LACCESS_MULTIR15,CNTY10,Percent

In [6]:
# Extract food access related data
access = xls.parse(sheet_name='ACCESS')
# Rename incorrect column name
access = access.rename(columns={'LACCESS_CHILD_10_15':'PCH_LACCESS_CHILD_10_15'})
print(access.columns)
access.head()

Index(['FIPS', 'State', 'County', 'LACCESS_POP10', 'LACCESS_POP15',
       'PCH_LACCESS_POP_10_15', 'PCT_LACCESS_POP10', 'PCT_LACCESS_POP15',
       'LACCESS_LOWI10', 'LACCESS_LOWI15', 'PCH_LACCESS_LOWI_10_15',
       'PCT_LACCESS_LOWI10', 'PCT_LACCESS_LOWI15', 'LACCESS_HHNV10',
       'LACCESS_HHNV15', 'PCH_LACCESS_HHNV_10_15', 'PCT_LACCESS_HHNV10',
       'PCT_LACCESS_HHNV15', 'LACCESS_SNAP15', 'PCT_LACCESS_SNAP15',
       'LACCESS_CHILD10', 'LACCESS_CHILD15', 'PCH_LACCESS_CHILD_10_15',
       'PCT_LACCESS_CHILD10', 'PCT_LACCESS_CHILD15', 'LACCESS_SENIORS10',
       'LACCESS_SENIORS15', 'PCH_LACCESS_SENIORS_10_15',
       'PCT_LACCESS_SENIORS10', 'PCT_LACCESS_SENIORS15', 'LACCESS_WHITE15',
       'PCT_LACCESS_WHITE15', 'LACCESS_BLACK15', 'PCT_LACCESS_BLACK15',
       'LACCESS_HISP15', 'PCT_LACCESS_HISP15', 'LACCESS_NHASIAN15',
       'PCT_LACCESS_NHASIAN15', 'LACCESS_NHNA15', 'PCT_LACCESS_NHNA15',
       'LACCESS_NHPI15', 'PCT_LACCESS_NHPI15', 'LACCESS_MULTIR15',
       'PCT_LACCESS_MULTIR15'],
      dtype='object')

,FIPS,State,County,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,...,LACCESS_HISP15,PCT_LACCESS_HISP15,LACCESS_NHASIAN15,PCT_LACCESS_NHASIAN15,LACCESS_NHNA15,PCT_LACCESS_NHNA15,LACCESS_NHPI15,PCT_LACCESS_NHPI15,LACCESS_MULTIR15,PCT_LACCESS_MULTIR15
0,1001,AL,Autauga,18428.439685,17496.693038,-5.056026,33.769657,32.062255,5344.427472,6543.676824,...,471.136164,0.863345,86.767975,0.159000,61.169869,0.112092,8.817961,0.016159,482.848633,0.884808
1,1003,AL,Baldwin,35210.814078,30561.264430,-13.204891,19.318473,16.767489,9952.144027,9886.831137,...,1377.874834,0.755973,212.946378,0.116833,181.649648,0.099662,14.819634,0.008131,1127.696098,0.618712
2,1005,AL,Barbour,5722.305602,6069.523628,6.067799,20.840972,22.105560,3135.676086,2948.790251,...,509.377525,1.855183,17.096410,0.062266,39.960527,0.145539,8.082376,0.029436,462.382655,1.684025
3,1007,AL,Bibb,1044.867327,969.378841,-7.224696,4.559753,4.230324,491.449066,596.162829,...,8.596762,0.037516,1.994318,0.008703,2.513097,0.010967,0.000000,0.000000,5.259244,0.022951
4,1009,AL,Blount,1548.175559,3724.428242,140.568857,2.700840,6.497380,609.027708,1650.959482,...,497.489891,0.867886,8.428994,0.014705,28.938242,0.050484,1.062851,0.001854,202.914187,0.353990

In [7]:
# FIPS code dataframe with corresponding State and County
fips_codes = access[['FIPS','State','County']]
fips_codes.head()
# Write FIPS code dataframe to table
fips_codes.to_sql(name='fips_codes', con=engine, if_exists='append',index=False)

In [8]:
# Sample query to check that data was written into database
pd.read_sql_query('select FIPS from fips_codes WHERE State = "IL" AND County = "Cook"', con=engine)

    FIPS
0  17031

In [9]:
# Select the columns starting with LACCESS and ends with 15
laccess = access.filter(regex=("^LACCESS+.*15$"))
laccess.insert(0,'FIPS',access['FIPS'])
laccess.insert(1,'Year',2015)
laccess = laccess.rename(columns=lambda x: re.sub('15$','',x))
#laccess.set_index('FIPS',inplace=True)
laccess.head()

,FIPS,Year,LACCESS_POP,LACCESS_LOWI,LACCESS_HHNV,LACCESS_SNAP,LACCESS_CHILD,LACCESS_SENIORS,LACCESS_WHITE,LACCESS_BLACK,LACCESS_HISP,LACCESS_NHASIAN,LACCESS_NHNA,LACCESS_NHPI,LACCESS_MULTIR
0,1001,2015,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,4216.473194,471.136164,86.767975,61.169869,8.817961,482.848633
1,1003,2015,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,3540.965826,1377.874834,212.946378,181.649648,14.819634,1127.696098
2,1005,2015,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,2713.124930,509.377525,17.096410,39.960527,8.082376,462.382655
3,1007,2015,969.378841,596.162829,224.388125,53.818772,232.642670,137.688231,540.512239,419.099942,8.596762,1.994318,2.513097,0.000000,5.259244
4,1009,2015,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,95.842687,497.489891,8.428994,28.938242,1.062851,202.914187

In [10]:
# Select the columns starting with LACCESS and ends with 10
temp_df = access.filter(regex=("^LACCESS+.*10$")).rename(columns=lambda x: re.sub('10$','',x))
temp_df.insert(0,'FIPS',access['FIPS'])
temp_df.insert(1,'Year',2010)
temp_df.head()
laccess = laccess.append(temp_df,sort=False)

In [11]:
# Select the columns starting with PCT_LACCESS and ends with 15
pct_access = access.filter(regex=("^PCT_LACCESS+.*15$"))
pct_access.insert(0,'FIPS',access['FIPS'])
pct_access.insert(1,'Year',2015)
pct_access = pct_access.rename(columns=lambda x: re.sub('15$','',x))
#pct_access.set_index('FIPS', inplace=True)

# Select the columns starting with PCT_LACCESS and ends with 10
temp_df = access.filter(regex=("^PCT_LACCESS+.*10$")).rename(columns=lambda x: re.sub('10$','',x))
temp_df.insert(0,'FIPS',access['FIPS'])
temp_df.insert(1,'Year',2010)
temp_df.head()
pct_access = pct_access.append(temp_df,sort=False)

In [12]:
# Final dataframe containing laccess and pct_access 
access_df = pd.merge(laccess,pct_access, on=['FIPS','Year'])
access_df.head()

,FIPS,Year,LACCESS_POP,LACCESS_LOWI,LACCESS_HHNV,LACCESS_SNAP,LACCESS_CHILD,LACCESS_SENIORS,LACCESS_WHITE,LACCESS_BLACK,...,PCT_LACCESS_SNAP,PCT_LACCESS_CHILD,PCT_LACCESS_SENIORS,PCT_LACCESS_WHITE,PCT_LACCESS_BLACK,PCT_LACCESS_HISP,PCT_LACCESS_NHASIAN,PCT_LACCESS_NHNA,PCT_LACCESS_NHPI,PCT_LACCESS_MULTIR
0,1001,2015,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,4216.473194,...,4.608749,8.460485,3.996279,23.163613,7.726582,0.863345,0.159000,0.112092,0.016159,0.884808
1,1003,2015,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,3540.965826,...,1.298900,3.844936,3.061840,13.981393,1.942757,0.755973,0.116833,0.099662,0.008131,0.618712
2,1005,2015,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,2713.124930,...,4.303147,3.758341,3.001695,10.302934,9.881360,1.855183,0.062266,0.145539,0.029436,1.684025
3,1007,2015,969.378841,596.162829,224.388125,53.818772,232.642670,137.688231,540.512239,419.099942,...,0.676710,1.015242,0.600865,2.358770,1.828933,0.037516,0.008703,0.010967,0.000000,0.022951
4,1009,2015,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,95.842687,...,0.812727,1.588720,0.882583,5.909147,0.167201,0.867886,0.014705,0.050484,0.001854,0.353990

In [13]:
# Add unique index column
access_df = access_df.reset_index()

In [14]:
access_df = access_df.rename(columns={'index':'id'})
access_df.head()

,id,FIPS,Year,LACCESS_POP,LACCESS_LOWI,LACCESS_HHNV,LACCESS_SNAP,LACCESS_CHILD,LACCESS_SENIORS,LACCESS_WHITE,...,PCT_LACCESS_SNAP,PCT_LACCESS_CHILD,PCT_LACCESS_SENIORS,PCT_LACCESS_WHITE,PCT_LACCESS_BLACK,PCT_LACCESS_HISP,PCT_LACCESS_NHASIAN,PCT_LACCESS_NHNA,PCT_LACCESS_NHPI,PCT_LACCESS_MULTIR
0,0,1001,2015,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,...,4.608749,8.460485,3.996279,23.163613,7.726582,0.863345,0.159000,0.112092,0.016159,0.884808
1,1,1003,2015,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,...,1.298900,3.844936,3.061840,13.981393,1.942757,0.755973,0.116833,0.099662,0.008131,0.618712
2,2,1005,2015,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,...,4.303147,3.758341,3.001695,10.302934,9.881360,1.855183,0.062266,0.145539,0.029436,1.684025
3,3,1007,2015,969.378841,596.162829,224.388125,53.818772,232.642670,137.688231,540.512239,...,0.676710,1.015242,0.600865,2.358770,1.828933,0.037516,0.008703,0.010967,0.000000,0.022951
4,4,1009,2015,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,...,0.812727,1.588720,0.882583,5.909147,0.167201,0.867886,0.014705,0.050484,0.001854,0.353990

In [15]:
# Write access_df to SQL database
access_df.to_sql(name='access', con=engine, if_exists='append',index=False)

IntegrityError: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry '1' for key 'PRIMARY'")
[SQL: INSERT INTO access (id, `FIPS`, `Year`, `LACCESS_POP`, `LACCESS_LOWI`, `LACCESS_HHNV`, `LACCESS_SNAP`, `LACCESS_CHILD`, `LACCESS_SENIORS`, `LACCESS_WHITE`, `LACCESS_BLACK`, `LACCESS_HISP`, `LACCESS_NHASIAN`, `LACCESS_NHNA`, `LACCESS_NHPI`, `LACCESS_MULTIR`, `PCT_LACCESS_POP`, `PCT_LACCESS_LOWI`, `PCT_LACCESS_HHNV`, `PCT_LACCESS_SNAP`, `PCT_LACCESS_CHILD`, `PCT_LACCESS_SENIORS`, `PCT_LACCESS_WHITE`, `PCT_LACCESS_BLACK`, `PCT_LACCESS_HISP`, `PCT_LACCESS_NHASIAN`, `PCT_LACCESS_NHNA`, `PCT_LACCESS_NHPI`, `PCT_LACCESS_MULTIR`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)]
[parameters: ((0, 1001, 2015, 17496.6930380858, 6543.67682386602, 677.672769180102, 931.935186356427, 4616.97147985914, 2180.80928470464, 12640.6154135004, 4216.47319356368, 471.136164350057, 86.767975169827, 61.1698691709567, 8.81796072726138, 482.848632899594, 32.062254747184035, 11.991125000212604, 3.3513316313738293, 4.608749252541551, 8.460485385752763, 3.9962787647370215, 23.163613299188945, 7.726582238851551, 0.8633453012590149, 0.1590001560715893, 0.11209226360329974, 0.01615869367843978, 0.884808108518433), (1, 1003, 2015, 30561.2644297432, 9886.83113695157, 1394.16276629172, 950.535289702192, 7007.97267534918, 5580.66278954589, 25483.1868109559, 3540.96582645598, 1377.87483396046, 212.946378394542, 181.649648311471, 14.8196338085691, 1127.69609830764, 16.767489331327024, 5.4244265969613314, 1.9051144660996444, 1.2989003685463132, 3.8449360411209934, 3.061840062297144, 13.981393471569364, 1.9427568795193702, 0.7559733541604038, 0.11683339006092339, 0.09966238625708228, 0.008130817111661097, 0.6187123684238006), (2, 1005, 2015, 6069.52362758896, 2948.79025102387, 425.144927366927, 422.569040288366, 1031.92777647386, 824.175262446028, 2828.87671050165, 2713.12492972364, 509.377525052818, 17.0964100404502, 39.9605266923081, 8.08237598461528, 462.382654954351, 22.105560066973666, 10.739666573274102, 4.329378079092943, 4.303147049779694, 3.758341320879411, 3.001694513042313, 10.302934444774191, 9.881359688690097, 1.855182740477175, 0.06226612536129292, 0.14553857556290964, 0.029436486085935396, 1.6840246747800232), (3, 1007, 2015, 969.378840984762, 596.162828807213, 224.388124619995, 53.8187720247035, 232.642670170693, 137.688230946444, 540.512238706047, 419.099942484012, 8.59676248193227, 1.99431798684236, 2.51309718098491, 0.0, 5.25924404172292, 4.2303244206186426, 2.6016270076683963, 2.8214274439833398, 0.6767103234591161, 1.015241851061283, 0.6008650706805324, 2.3587704067468778, 1.8289327623129479, 0.03751587380289012, 0.008703111441598778, 0.010967039847195766, 0.0, 0.022951097716443027), (4, 1009, 2015, 3724.42824233857, 1650.95948166117, 719.93144402445, 175.370338437865, 910.686113009206, 505.914282447697, 3387.24126576124, 95.8426872727741, 497.489891290528, 8.42899439623579, 28.9382422310082, 1.06285117741209, 202.91418653419, 6.497380137361867, 2.8801498232112803, 3.3364141441489017, 0.8127274929922376, 1.5887200603768292, 0.8825830962766426, 5.909147039114545, 0.16720052906872424, 0.8678864856259867, 0.014704641143427986, 0.05048365763757057, 0.0018541767164650393, 0.35399006757299123), (5, 1011, 2015, 4141.90036536622, 2154.78929983559, 415.861300840738, 225.322524988909, 616.715389898739, 566.539354360723, 1462.19645654496, 2634.50668503436, 24.0788894071457, 0.968748204904841, 7.70528757982168, 0.0, 36.5231713199781, 37.950342361794206, 19.74335074065961, 11.104440609899546, 6.016622830144433, 5.650681600684799, 5.190941491302208, 13.397438670926883, 24.138782160842588, 0.22062387215636522, 0.008876197589379155, 0.07060003280027194, 0.0, 0.3346451467837465), (6, 1013, 2015, 1304.32875630859, 612.934760794224, 320.168301040939, 91.4377952925083, 264.140115579595, 254.768140186343, 729.73241167102, 550.901102632739, 11.0849018942851, 4.95549835638667, 7.29875918617472, 0.0, 11.4409871611977, 6.226804584468373, 2.926121930559144, 3.770678377587316, 1.0768789929632352, 1.260992579269561, 1.2162512063128037, 3.4837084626486847, 2.629976142802019, 0.05291880409741299, 0.023657317784822027, 0.034843935581108126, 0.0, 0.05461873853629494), (7, 1015, 2015, 27785.986765365, 10883.2099687745, 1235.28962949462, 1931.25635752145, 6167.76448702024, 4455.31246795101, 21058.3589572306, 5465.72518034221, 970.893190568127, 235.07120252761, 118.296515100503, 21.9615067912382, 886.573464390949, 23.433851807648516, 9.178566582982912, 2.6098954796953793, 4.080320207731614, 5.201704016985663, 3.7574743345402033, 17.759976180911682, 4.609625527394503, 0.8188216362784865, 0.19825186597814828, 0.09976766445746299, 0.0185216634544734, 0.7477089569130562)  ... displaying 10 of 6286 total bound parameter sets ...  (6284, 56043, 2010, 931.411646922956, 233.628356377619, 13.8389461351431, None, 184.506883716558, 219.490014824071, None, None, None, None, None, None, None, 10.915406620449502, 2.7379392520522563, 0.3963042994027234, None, 2.1622745074013596, 2.5722490896996484, None, None, None, None, None, None, None), (6285, 56045, 2010, 1240.49310191985, 287.543110674115, 44.802546928833, None, 252.789889388542, 214.410319849699, None, None, None, None, None, None, None, 17.20994869478149, 3.989221846200263, 1.483036972156008, None, 3.507073937132936, 2.974615980156756, None, None, None, None, None, None, None))]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
# Sample query to check that data was written into database
pd.read_sql_query('select * from access WHERE LACCESS_POP > 2000', con=engine)

In [ ]:
# Extract stores related data
stores = xls.parse(sheet_name='STORES')
stores.columns

In [ ]:
# Select columns relating to grocery stores, supercenters/warehouses, 
# convenience stores, and specialized food stores
stores = stores[['FIPS','GROC09', 'GROC14', 'GROCPTH09', 'GROCPTH14', 
        'SUPERC09', 'SUPERC14', 'SUPERCPTH09', 'SUPERCPTH14',
       'CONVS09', 'CONVS14', 'CONVSPTH09', 'CONVSPTH14',
       'SPECS09', 'SPECS14', 'SPECSPTH09', 'SPECSPTH14']] 
#        ,'SNAPS12', 'SNAPS16', 'SNAPSPTH12', 'SNAPSPTH16', 
#        'WICS08', 'WICS12', 'WICSPTH08', 'WICSPTH12']]
stores.head()

In [ ]:
# Select the columns that end with 09
stores_df = stores.filter(regex=("^.*09$"))
stores_df.insert(0,'FIPS',stores['FIPS'])
stores_df.insert(1,'Year',2009)
stores_df = stores_df.rename(columns=lambda x: re.sub('09$','',x))

# Select the columns that end with 14
temp_df = stores.filter(regex=("^.*14$")).rename(columns=lambda x: re.sub('14$','',x))
temp_df.insert(0,'FIPS',access['FIPS'])
temp_df.insert(1,'Year',2014)
temp_df.head()

In [ ]:
# Final dataframe containing store information
stores_df = stores_df.append(temp_df,sort=False)
stores_df.head()

In [ ]:
# Add unique index column
stores_df = stores_df.reset_index()
stores_df = stores_df.rename(columns={'index':'id'})
stores_df.head()

In [ ]:
# Write stores_df to SQL database
stores_df.to_sql(name='stores', con=engine, if_exists='append',index=False)

In [ ]:
# Sample query to check that data was written into database
pd.read_sql_query('select * from stores WHERE GROC > 50 AND GROC < 100', con=engine)

In [ ]:
# fast_food
# full_service_restaurant
# farmers_market 2007,2016
#restaurants = xls.parse(sheet_name='RESTAURANTS')
#restaurants.head()

In [ ]:
# health related data
# recreation_facilities 2009, 2014
# obesity_rate 2008, 2013
# diabetes_rate
#health = xls.parse(sheet_name='HEALTH')
#health.head()

In [ ]:
# Extract socioeconomic data: median household income and poverty rate 2015
socioeconomic = xls.parse(sheet_name='SOCIOECONOMIC')
socioeconomic.columns

In [ ]:
socioeconomic = socioeconomic[['FIPS',
#                                'PCT_NHWHITE10', 'PCT_NHBLACK10',
#        'PCT_HISP10', 'PCT_NHASIAN10', 'PCT_NHNA10', 'PCT_NHPI10',
#        'PCT_65OLDER10', 'PCT_18YOUNGER10', 
                               'MEDHHINC15', 'POVRATE15']]

In [ ]:
# # Select the columns that ends with 15
socioeconomic_df = socioeconomic.filter(regex=("^.*15$")).rename(columns=lambda x: re.sub('15$','',x))
socioeconomic_df.insert(0,'FIPS',socioeconomic['FIPS'])
socioeconomic_df.insert(1,'Year',2015)

# Select the columns that ends with 10
# temp_df = socioeconomic.filter(regex=("^.*10$")).rename(columns=lambda x: re.sub('10$','',x))
# temp_df.insert(0,'FIPS',socioeconomic['FIPS'])
# temp_df.insert(1,'Year',2010)

# socioeconomic_df = socioeconomic_df.append(temp_df,sort=False)
socioeconomic_df.head()

In [ ]:
# Write socioeconomic_df to SQL database
socioeconomic_df.to_sql(name='socioeconomic', con=engine, if_exists='append',index=False)

In [ ]:
# Data Source: Median Value Home Values from Zillow
zillow_median_xl = "data/County_MedianValuePerSqft_AllHomes.csv"
zillow_median_df = pd.read_csv(zillow_median_xl, encoding='ISO-8859-1')
#FIPS = 2 digit StateCodeFIPS + 3 digit MunicipalCodeFIPS
#add leading zeros to state codes that are 1 value long
zillow_median_df['StateCodeFIPS']=zillow_median_df['StateCodeFIPS'].apply(lambda x: '{0:0>2}'.format(x))
#add leading zeros to muncipal codes so that all are 3 digits
zillow_median_df['MunicipalCodeFIPS']=zillow_median_df['MunicipalCodeFIPS'].apply(lambda x: '{0:0>3}'.format(x))
#combine State and Muncipal FIPS code to get FIPS code. 
zillow_median_df['FIPS']=zillow_median_df['StateCodeFIPS']+zillow_median_df['MunicipalCodeFIPS']
zillow_median_df.columns

In [ ]:
# select columns for 2018-01 through 2019-03
zillow_df = zillow_median_df.iloc[:,148:283]
zillow_df.insert(0,'FIPS',zillow_median_df['FIPS'])

In [ ]:
# sort by FIPS
zillow_df.sort_values('FIPS',inplace=True)

In [ ]:
zillow_df.head()

In [ ]:
#create index to match autoincrementing id in MySQL
zillow_df = zillow_df.reset_index()
zillow_df = zillow_df.rename(columns={'index':'id'})

In [ ]:
#read data to MySQL
zillow_df.to_sql(name='zillow_median', con=engine, if_exists='append',index=False)

In [ ]:
# Sample query to check that data was written into database
pd.read_sql_query('select FIPS, `2019-03` from zillow_median\
            WHERE `2019-03` > 150 AND `2019-03` < 200', con=engine)

In [ ]:
# Sample query to check that data was written into database
pd.read_sql_query('select FIPS, `2019-03` from zillow_median\
            WHERE `2019-03` < 150', con=engine)

In [ ]:
# Example query
# For each FIPS area, look at the median household income, poverty rate, 
# and the number of grocery stores, supercenters, convenience stores, and specialty foods stores
pd.read_sql_query('SELECT a.FIPS, s.MEDHHINC, s.POVRATE,\
                    a.GROC, a.SUPERC, a.CONVS, a.SPECS\
                  FROM stores a\
                 JOIN socioeconomic s ON a.FIPS = s.FIPS', con=engine)

In [ ]:
# Example query
# For each FIPS area, look at the median household income, poverty rate, and median house value per sqft
pd.read_sql_query('SELECT z.FIPS, s.MEDHHINC, s.POVRATE, z.`2019-03`\
                  FROM zillow_median z\
                 JOIN socioeconomic s ON z.FIPS = s.FIPS', con=engine)