In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import xlrd
import re

In [2]:
# Connect to local MySQL database
password = 'PASSWORD HERE'
connection_string = f'mysql://root:{password}@localhost:3306/etl_county_db'
engine = create_engine(connection_string)

# Alternatively, connect to sqlite database
# database_path = "etl_county_db"
# engine = create_engine(f"sqlite:///{database_path}")

In [3]:
engine.table_names()

[]

In [4]:
# Data Source: Food Environment Atlas
fea_xls = './data/DataDownload.xls'
xls = pd.ExcelFile(fea_xls)
print (xls.sheet_names)

['Read_Me', 'Variable List', 'Supplemental Data - County', 'Supplemental Data - State', 'ACCESS', 'STORES', 'RESTAURANTS', 'ASSISTANCE', 'INSECURITY', 'PRICES_TAXES', 'LOCAL', 'HEALTH', 'SOCIOECONOMIC']

In [5]:
# Variable List contains descriptions of the variables in the other sheets
variables = xls.parse(sheet_name='Variable List') 
variables[variables['Category Code']=="ACCESS"]

,Category Name,Category Code,Subcategory Name,Variable Name,Variable Code,Geography,Units
0,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2010",LACCESS_POP10,CNTY10,Count
1,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2015",LACCESS_POP15,CNTY10,Count
2,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (% change), 20...",PCH_LACCESS_POP_10_15,CNTY10,% change
3,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2010",PCT_LACCESS_POP10,CNTY10,Percent
4,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2015",PCT_LACCESS_POP15,CNTY10,Percent
5,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Low income & low access to store, 2010",LACCESS_LOWI10,CNTY10,Count
6,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Low income & low access to store, 2015",LACCESS_LOWI15,CNTY10,Count
7,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Low income & low access to store (% change), 2...",PCH_LACCESS_LOWI_10_15,CNTY10,% change
8,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Low income & low access to store (%), 2010",PCT_LACCESS_LOWI10,CNTY10,Percent
9,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Low income & low access to store (%), 2015",PCT_LACCESS_LOWI15,CNTY10,Percent
10,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Households, no car & low access to store, 2010",LACCESS_HHNV10,CNTY10,Count
11,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Households, no car & low access to store, 2015",LACCESS_HHNV15,CNTY10,Count
12,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Households, no car & low access to store (% ch...",PCH_LACCESS_HHNV_10_15,CNTY10,% change
13,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Households, no car & low access to store (%), ...",PCT_LACCESS_HHNV10,CNTY10,Percent
14,Access and Proximity to Grocery Store,ACCESS,Household Resources,"Households, no car & low access to store (%), ...",PCT_LACCESS_HHNV15,CNTY10,Percent
15,Access and Proximity to Grocery Store,ACCESS,Household Resources,"SNAP households, low access to store, 2015",LACCESS_SNAP15,CNTY10,Count
16,Access and Proximity to Grocery Store,ACCESS,Household Resources,"SNAP households, low access to store (%), 2015",PCT_LACCESS_SNAP15,CNTY10,Percent
17,Access and Proximity to Grocery Store,ACCESS,Demographics,"Children, low access to store, 2010",LACCESS_CHILD10,CNTY10,Count
18,Access and Proximity to Grocery Store,ACCESS,Demographics,"Children, low access to store, 2015",LACCESS_CHILD15,CNTY10,Count
19,Access and Proximity to Grocery Store,ACCESS,Demographics,"Children, low access to store (% change), 2010...",PCH_LACCESS_CHILD_10_15,CNTY10,% change
20,Access and Proximity to Grocery Store,ACCESS,Demographics,"Children, low access to store (%), 2010",PCT_LACCESS_CHILD10,CNTY10,Percent
21,Access and Proximity to Grocery Store,ACCESS,Demographics,"Children, low access to store (%), 2015",PCT_LACCESS_CHILD15,CNTY10,Percent
22,Access and Proximity to Grocery Store,ACCESS,Demographics,"Seniors, low access to store, 2010",LACCESS_SENIORS10,CNTY10,Count
23,Access and Proximity to Grocery Store,ACCESS,Demographics,"Seniors, low access to store, 2015",LACCESS_SENIORS15,CNTY10,Count
24,Access and Proximity to Grocery Store,ACCESS,Demographics,"Seniors, low access to store (% change), 2010 -15",PCH_LACCESS_SENIORS_10_15,CNTY10,% change
25,Access and Proximity to Grocery Store,ACCESS,Demographics,"Seniors, low access to store (%), 2010",PCT_LACCESS_SENIORS10,CNTY10,Percent
26,Access and Proximity to Grocery Store,ACCESS,Demographics,"Seniors, low access to store (%), 2015",PCT_LACCESS_SENIORS15,CNTY10,Percent
27,Access and Proximity to Grocery Store,ACCESS,Demographics,"White, low access to store, 2015",LACCESS_WHITE15,CNTY10,Count
28,Access and Proximity to Grocery Store,ACCESS,Demographics,"White, low access to store (%), 2015",PCT_LACCESS_WHITE15,CNTY10,Percent
29,Access and Proximity to Grocery Store,ACCESS,Demographics,"Black, low access to store, 2015",LACCESS_BLACK15,CNTY10,Count
30,Access and Proximity to Grocery Store,ACCESS,Demographics,"Black, low access to store (%), 2015",PCT_LACCESS_BLACK15,CNTY10,Percent
31,Access and Proximity to Grocery Store,ACCESS,Demographics,"Hispanic ethnicity, low access to store, 2015",LACCESS_HISP15,CNTY10,Count
32,Access and Proximity to Grocery Store,ACCESS,Demographics,"Hispanic ethnicity, low access to store (%), 2015",PCT_LACCESS_HISP15,CNTY10,Percent
33,Access and Proximity to Grocery Store,ACCESS,Demographics,"Asian, low access to store, 2015",LACCESS_NHASIAN15,CNTY10,Count
34,Access and Proximity to Grocery Store,ACCESS,Demographics,"Asian, low access to store (%), 2015",PCT_LACCESS_NHASIAN15,CNTY10,Percent
35,Access and Proximity to Grocery Store,ACCESS,Demographics,"American Indian or Alaska Native, low access t...",LACCESS_NHNA15,CNTY10,Count
36,Access and Proximity to Grocery Store,ACCESS,Demographics,"American Indian or Alaska Native, low access t...",PCT_LACCESS_NHNA15,CNTY10,Percent
37,Access and Proximity to Grocery Store,ACCESS,Demographics,"Hawaiian or Pacific Islander, low access to st...",LACCESS_NHPI15,CNTY10,Count
38,Access and Proximity to Grocery Store,ACCESS,Demographics,"Hawaiian or Pacific Islander, low access to st...",PCT_LACCESS_NHPI15,CNTY10,Percent
39,Access and Proximity to Grocery Store,ACCESS,Demographics,"Multiracial, low access to store, 2015",LACCESS_MULTIR15,CNTY10,Count
40,Access and Proximity to Grocery Store,ACCESS,Demographics,"Multiracial, low access to store (%), 2015",PCT_LACCESS_MULTIR15,CNTY10,Percent

In [6]:
# Extract food access related data
access = xls.parse(sheet_name='ACCESS')
# Rename incorrect column name
access = access.rename(columns={'LACCESS_CHILD_10_15':'PCH_LACCESS_CHILD_10_15'})
print(access.columns)
access.head()

Index(['FIPS', 'State', 'County', 'LACCESS_POP10', 'LACCESS_POP15',
       'PCH_LACCESS_POP_10_15', 'PCT_LACCESS_POP10', 'PCT_LACCESS_POP15',
       'LACCESS_LOWI10', 'LACCESS_LOWI15', 'PCH_LACCESS_LOWI_10_15',
       'PCT_LACCESS_LOWI10', 'PCT_LACCESS_LOWI15', 'LACCESS_HHNV10',
       'LACCESS_HHNV15', 'PCH_LACCESS_HHNV_10_15', 'PCT_LACCESS_HHNV10',
       'PCT_LACCESS_HHNV15', 'LACCESS_SNAP15', 'PCT_LACCESS_SNAP15',
       'LACCESS_CHILD10', 'LACCESS_CHILD15', 'PCH_LACCESS_CHILD_10_15',
       'PCT_LACCESS_CHILD10', 'PCT_LACCESS_CHILD15', 'LACCESS_SENIORS10',
       'LACCESS_SENIORS15', 'PCH_LACCESS_SENIORS_10_15',
       'PCT_LACCESS_SENIORS10', 'PCT_LACCESS_SENIORS15', 'LACCESS_WHITE15',
       'PCT_LACCESS_WHITE15', 'LACCESS_BLACK15', 'PCT_LACCESS_BLACK15',
       'LACCESS_HISP15', 'PCT_LACCESS_HISP15', 'LACCESS_NHASIAN15',
       'PCT_LACCESS_NHASIAN15', 'LACCESS_NHNA15', 'PCT_LACCESS_NHNA15',
       'LACCESS_NHPI15', 'PCT_LACCESS_NHPI15', 'LACCESS_MULTIR15',
       'PCT_LACCESS_MULTIR15'],
      dtype='object')

,FIPS,State,County,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,...,LACCESS_HISP15,PCT_LACCESS_HISP15,LACCESS_NHASIAN15,PCT_LACCESS_NHASIAN15,LACCESS_NHNA15,PCT_LACCESS_NHNA15,LACCESS_NHPI15,PCT_LACCESS_NHPI15,LACCESS_MULTIR15,PCT_LACCESS_MULTIR15
0,1001,AL,Autauga,18428.439685,17496.693038,-5.056026,33.769657,32.062255,5344.427472,6543.676824,...,471.136164,0.863345,86.767975,0.159000,61.169869,0.112092,8.817961,0.016159,482.848633,0.884808
1,1003,AL,Baldwin,35210.814078,30561.264430,-13.204891,19.318473,16.767489,9952.144027,9886.831137,...,1377.874834,0.755973,212.946378,0.116833,181.649648,0.099662,14.819634,0.008131,1127.696098,0.618712
2,1005,AL,Barbour,5722.305602,6069.523628,6.067799,20.840972,22.105560,3135.676086,2948.790251,...,509.377525,1.855183,17.096410,0.062266,39.960527,0.145539,8.082376,0.029436,462.382655,1.684025
3,1007,AL,Bibb,1044.867327,969.378841,-7.224696,4.559753,4.230324,491.449066,596.162829,...,8.596762,0.037516,1.994318,0.008703,2.513097,0.010967,0.000000,0.000000,5.259244,0.022951
4,1009,AL,Blount,1548.175559,3724.428242,140.568857,2.700840,6.497380,609.027708,1650.959482,...,497.489891,0.867886,8.428994,0.014705,28.938242,0.050484,1.062851,0.001854,202.914187,0.353990

In [7]:
# FIPS code dataframe with corresponding State and County
fips_codes = access[['FIPS','State','County']]
fips_codes.head()
# Write FIPS code dataframe to table
fips_codes.to_sql(name='fips_codes', con=engine, if_exists='append',index=False)

In [8]:
# Sample query to check that data was written into database
pd.read_sql_query('select FIPS from fips_codes \
                WHERE State = "IL" AND County = "Cook"', con=engine)

    FIPS
0  17031

In [9]:
# Select the columns starting with LACCESS and ends with 15
laccess = access.filter(regex=("^LACCESS+.*15$"))
# Insert FIPS column
laccess.insert(0,'FIPS',access['FIPS'])
# Add the year into a separate column
laccess.insert(1,'Year',2015)
# Rename the column to not include the year
laccess = laccess.rename(columns=lambda x: re.sub('15$','',x))
laccess.head()

,FIPS,Year,LACCESS_POP,LACCESS_LOWI,LACCESS_HHNV,LACCESS_SNAP,LACCESS_CHILD,LACCESS_SENIORS,LACCESS_WHITE,LACCESS_BLACK,LACCESS_HISP,LACCESS_NHASIAN,LACCESS_NHNA,LACCESS_NHPI,LACCESS_MULTIR
0,1001,2015,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,4216.473194,471.136164,86.767975,61.169869,8.817961,482.848633
1,1003,2015,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,3540.965826,1377.874834,212.946378,181.649648,14.819634,1127.696098
2,1005,2015,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,2713.124930,509.377525,17.096410,39.960527,8.082376,462.382655
3,1007,2015,969.378841,596.162829,224.388125,53.818772,232.642670,137.688231,540.512239,419.099942,8.596762,1.994318,2.513097,0.000000,5.259244
4,1009,2015,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,95.842687,497.489891,8.428994,28.938242,1.062851,202.914187

In [10]:
# Select the columns starting with LACCESS and ends with 10
temp_df = access.filter(regex=("^LACCESS+.*10$")).rename(columns=lambda x: re.sub('10$','',x))
temp_df.insert(0,'FIPS',access['FIPS'])
temp_df.insert(1,'Year',2010)
temp_df.head()
laccess = laccess.append(temp_df,sort=False)

In [11]:
# Select the columns starting with PCT_LACCESS and ends with 15
pct_access = access.filter(regex=("^PCT_LACCESS+.*15$"))
pct_access.insert(0,'FIPS',access['FIPS'])
pct_access.insert(1,'Year',2015)
pct_access = pct_access.rename(columns=lambda x: re.sub('15$','',x))
#pct_access.set_index('FIPS', inplace=True)

# Select the columns starting with PCT_LACCESS and ends with 10
temp_df = access.filter(regex=("^PCT_LACCESS+.*10$")).rename(columns=lambda x: re.sub('10$','',x))
temp_df.insert(0,'FIPS',access['FIPS'])
temp_df.insert(1,'Year',2010)
temp_df.head()
pct_access = pct_access.append(temp_df,sort=False)

In [12]:
# Final dataframe containing laccess and pct_access 
access_df = pd.merge(laccess,pct_access, on=['FIPS','Year'])
access_df.head()

,FIPS,Year,LACCESS_POP,LACCESS_LOWI,LACCESS_HHNV,LACCESS_SNAP,LACCESS_CHILD,LACCESS_SENIORS,LACCESS_WHITE,LACCESS_BLACK,...,PCT_LACCESS_SNAP,PCT_LACCESS_CHILD,PCT_LACCESS_SENIORS,PCT_LACCESS_WHITE,PCT_LACCESS_BLACK,PCT_LACCESS_HISP,PCT_LACCESS_NHASIAN,PCT_LACCESS_NHNA,PCT_LACCESS_NHPI,PCT_LACCESS_MULTIR
0,1001,2015,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,4216.473194,...,4.608749,8.460485,3.996279,23.163613,7.726582,0.863345,0.159000,0.112092,0.016159,0.884808
1,1003,2015,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,3540.965826,...,1.298900,3.844936,3.061840,13.981393,1.942757,0.755973,0.116833,0.099662,0.008131,0.618712
2,1005,2015,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,2713.124930,...,4.303147,3.758341,3.001695,10.302934,9.881360,1.855183,0.062266,0.145539,0.029436,1.684025
3,1007,2015,969.378841,596.162829,224.388125,53.818772,232.642670,137.688231,540.512239,419.099942,...,0.676710,1.015242,0.600865,2.358770,1.828933,0.037516,0.008703,0.010967,0.000000,0.022951
4,1009,2015,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,95.842687,...,0.812727,1.588720,0.882583,5.909147,0.167201,0.867886,0.014705,0.050484,0.001854,0.353990

In [13]:
# Add unique index column
access_df = access_df.reset_index()

In [14]:
access_df = access_df.rename(columns={'index':'id'})
access_df.head()

,id,FIPS,Year,LACCESS_POP,LACCESS_LOWI,LACCESS_HHNV,LACCESS_SNAP,LACCESS_CHILD,LACCESS_SENIORS,LACCESS_WHITE,...,PCT_LACCESS_SNAP,PCT_LACCESS_CHILD,PCT_LACCESS_SENIORS,PCT_LACCESS_WHITE,PCT_LACCESS_BLACK,PCT_LACCESS_HISP,PCT_LACCESS_NHASIAN,PCT_LACCESS_NHNA,PCT_LACCESS_NHPI,PCT_LACCESS_MULTIR
0,0,1001,2015,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,...,4.608749,8.460485,3.996279,23.163613,7.726582,0.863345,0.159000,0.112092,0.016159,0.884808
1,1,1003,2015,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,...,1.298900,3.844936,3.061840,13.981393,1.942757,0.755973,0.116833,0.099662,0.008131,0.618712
2,2,1005,2015,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,...,4.303147,3.758341,3.001695,10.302934,9.881360,1.855183,0.062266,0.145539,0.029436,1.684025
3,3,1007,2015,969.378841,596.162829,224.388125,53.818772,232.642670,137.688231,540.512239,...,0.676710,1.015242,0.600865,2.358770,1.828933,0.037516,0.008703,0.010967,0.000000,0.022951
4,4,1009,2015,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,...,0.812727,1.588720,0.882583,5.909147,0.167201,0.867886,0.014705,0.050484,0.001854,0.353990

In [15]:
# Write access_df to SQL database
access_df.to_sql(name='access', con=engine, if_exists='append',index=False)

In [16]:
# Sample query to check that data was written into database
pd.read_sql_query('select * from access WHERE LACCESS_POP > 2000', con=engine)

,id,FIPS,Year,LACCESS_POP,LACCESS_LOWI,LACCESS_HHNV,LACCESS_SNAP,LACCESS_CHILD,LACCESS_SENIORS,LACCESS_WHITE,...,PCT_LACCESS_SNAP,PCT_LACCESS_CHILD,PCT_LACCESS_SENIORS,PCT_LACCESS_WHITE,PCT_LACCESS_BLACK,PCT_LACCESS_HISP,PCT_LACCESS_NHASIAN,PCT_LACCESS_NHNA,PCT_LACCESS_NHPI,PCT_LACCESS_MULTIR
0,0,1001,2015,17496.693038,6543.676824,677.672769,931.935186,4616.971480,2180.809285,12640.615414,...,4.608749,8.460485,3.996279,23.163613,7.726582,0.863345,0.159000,0.112092,0.016159,0.884808
1,1,1003,2015,30561.264430,9886.831137,1394.162766,950.535290,7007.972675,5580.662790,25483.186811,...,1.298900,3.844936,3.061840,13.981393,1.942757,0.755973,0.116833,0.099662,0.008131,0.618712
2,2,1005,2015,6069.523628,2948.790251,425.144927,422.569040,1031.927776,824.175262,2828.876711,...,4.303147,3.758341,3.001695,10.302934,9.881360,1.855183,0.062266,0.145539,0.029436,1.684025
3,4,1009,2015,3724.428242,1650.959482,719.931444,175.370338,910.686113,505.914282,3387.241266,...,0.812727,1.588720,0.882583,5.909147,0.167201,0.867886,0.014705,0.050484,0.001854,0.353990
4,5,1011,2015,4141.900365,2154.789300,415.861301,225.322525,616.715390,566.539354,1462.196457,...,6.016623,5.650682,5.190941,13.397439,24.138782,0.220624,0.008876,0.070600,0.000000,0.334645
5,7,1015,2015,27785.986765,10883.209969,1235.289629,1931.256358,6167.764487,4455.312468,21058.358957,...,4.080320,5.201704,3.757474,17.759976,4.609626,0.818822,0.198252,0.099768,0.018522,0.747709
6,8,1017,2015,7131.505717,3533.916216,730.201067,502.632028,1595.353850,1266.433475,4281.110416,...,3.607493,4.662732,3.701398,12.512379,7.648584,0.370559,0.317093,0.060465,0.000179,0.304514
7,11,1023,2015,2702.895199,1010.379176,423.036624,360.071289,557.553869,452.880465,743.816736,...,6.138276,4.023045,3.267772,5.367030,14.035716,0.081694,0.000000,0.036078,0.000000,0.063991
8,12,1025,2015,5712.926332,2881.596829,943.721326,428.880892,1523.277050,842.592559,2229.402621,...,4.148988,5.896632,3.261691,8.630057,13.145565,0.312674,0.053734,0.068787,0.003826,0.212871
9,15,1031,2015,10486.085980,2987.491344,543.293110,396.544338,2569.549716,1103.329245,8462.375776,...,1.997805,5.144450,2.208956,16.942372,2.263936,1.214927,0.467613,0.216637,0.059879,1.043570
10,16,1033,2015,11095.666304,3565.961744,682.269933,838.679986,2607.221979,1868.019982,9455.683577,...,3.682782,4.790222,3.432094,17.372829,2.304064,0.365805,0.150427,0.071141,0.001837,0.485654
11,17,1035,2015,3558.359440,1750.034804,325.663210,428.044060,694.969178,749.702003,2548.220255,...,7.609672,5.253774,5.667539,19.263836,7.133148,0.165632,0.030131,0.108823,0.000000,0.364268
12,18,1037,2015,2828.930334,1168.301536,280.171989,147.314286,500.446376,564.949435,2311.026408,...,3.072889,4.337000,4.896000,20.027961,4.161547,0.247365,0.013960,0.028963,0.000700,0.283120
13,19,1039,2015,3769.122248,1650.453898,512.542724,221.644995,783.970988,728.613374,3387.282897,...,1.427113,2.075919,1.929335,8.969371,0.838401,0.069081,0.011034,0.049577,0.000000,0.112081
14,20,1041,2015,5278.966487,2369.451736,250.875564,442.400226,1278.332947,758.593092,3871.508980,...,7.827322,9.192672,5.455150,27.840565,9.269130,0.256598,0.068719,0.113491,0.000000,0.669884
15,21,1043,2015,5900.270202,2500.310001,1050.953043,354.282224,1433.057497,1015.570676,5594.810444,...,1.111857,1.782277,1.263053,6.958200,0.041748,0.456097,0.068790,0.030064,0.001625,0.237670
16,22,1045,2015,14036.970117,5306.194211,615.093548,685.850934,4144.065574,1364.677324,10039.800088,...,3.418146,8.246733,2.715722,19.979304,5.415993,2.422768,0.312927,0.216184,0.037479,1.971825
17,23,1047,2015,7640.056868,5063.957922,988.809981,1125.386849,1941.888555,1246.919871,1865.149459,...,6.595094,4.431512,2.845550,4.256389,12.967878,0.117463,0.047803,0.020019,0.000387,0.142616
18,24,1049,2015,2679.852662,1540.906864,739.942763,185.358079,890.009064,258.253241,1727.096467,...,0.690552,1.251612,0.363179,2.428802,0.165249,1.515499,0.027772,0.052394,0.021596,1.072842
19,25,1051,2015,15064.366588,5506.024510,981.291672,580.814828,3210.949788,1533.079912,9447.677189,...,2.052277,4.048964,1.933193,11.913392,6.397967,0.531280,0.071751,0.074350,0.006240,0.532260
20,26,1053,2015,5058.775403,2766.608819,567.596762,557.141717,1201.964583,843.729216,3014.965811,...,3.935450,3.136733,2.201856,7.868070,4.672286,0.251797,0.009425,0.292205,0.001211,0.358544
21,27,1055,2015,23289.826821,9817.063943,1360.397062,1518.373600,4933.015842,4543.736213,18781.921150,...,3.612079,4.723754,4.350987,17.985178,3.538090,0.495505,0.127889,0.058637,0.005105,0.586955
22,29,1059,2015,3663.441736,1306.401173,456.155880,253.998516,918.699674,496.761426,3072.714228,...,2.067382,2.897741,1.566873,9.691882,0.255217,1.883656,0.047788,0.131215,0.000656,1.428384
23,31,1063,2015,2962.991009,1930.426929,314.042253,461.358751,721.112028,475.519501,409.272249,...,12.257140,7.972493,5.257264,4.524845,27.957278,0.225042,0.021316,0.112045,0.000000,0.142848
24,34,1069,2015,18340.749038,6379.797852,918.318120,740.797532,4485.839386,2481.792342,13377.854000,...,1.808190,4.417501,2.443984,13.174051,3.942050,0.677692,0.290133,0.055985,0.010280,0.588842
25,35,1071,2015,4218.966738,1741.859186,755.931737,228.725997,961.340309,652.284180,3664.925587,...,1.063199,1.806114,1.225476,6.885463,0.453903,0.391282,0.040342,0.117161,0.006967,0.422529
26,36,1073,2015,205657.867797,80804.251855,7229.284660,13857.451411,49882.802400,25970.646236,94905.921002,...,5.257638,7.575608,3.944113,14.413185,15.492052,1.077910,0.274585,0.072433,0.012159,0.968462
27,38,1077,2015,12476.096705,4670.748106,1245.422925,561.931865,2541.608172,2026.386790,10957.016649,...,1.452771,2.741490,2.185750,11.818719,1.098329,0.324872,0.126234,0.060413,0.010158,0.343413
28,40,1081,2015,36835.886874,17179.561486,1269.090941,1435.265546,7548.528821,2684.664570,26724.411265,...,2.577611,5.382310,1.914240,19.055246,5.799518,0.681062,0.689123,0.081621,0.013107,0.626393
29,41,1083,2015,9339.421673,2912.563689,838.978123,553.113136,1706.170850,1421.280344,6814.984993,...,1.758930,2.061041,1.716895,8.232448,2.426806,0.515501,0.036740,0.073212,0.002703,0.510039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,6247,55111,2010,3246.150178,988.257187,397.622695,NaN,729.485721,559.265464,NaN,...,NaN,1.177046,0.902390,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4362,6248,55113,2010,4792.748461,1847.561961,288.628252,NaN,746.437552,1168.302714,NaN,...,NaN,4.508290,7.056246,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4363,6249,55115,2010,6489.082907,2294.609010,443.474912,NaN,1572.704836,1119.372703,NaN,...,NaN,3.749088,2.668413,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4364,6250,55117,2010,11446.036831,2274.171348,571.059374,NaN,2419.692310,1914.310654,NaN,...,NaN,2.094845,1.657311,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4365,6251,55119,2010,4248.490825,1447.576781,325.840707,NaN,1015.734332,863.279100,NaN,...,NaN,4.909538,4.172648,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4366,6253,55123,2010,5173.162427,1812.555608,648.973681,NaN,1233.325496,919.825086,NaN,...,NaN,4.142429,3.089461,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4367,6254,55125,2010,2603.588621,957.635211,279.371774,NaN,349.990033,860.782797,NaN,...,NaN,1.633178,4.016719,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4368,6255,55127,2010,30650.463723,8312.155499,1075.184768,NaN,7860.966474,3858.715840,NaN,...,NaN,7.689641,3.774617,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4369,6256,55129,2010,3128.425520,1043.400147,142.962607,NaN,536.256482,748.559699,NaN,...,NaN,3.370351,4.704668,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4370,6257,55131,2010,19101.490001,2986.013282,368.554860,NaN,4909.137816,2502.445425,NaN,...,NaN,3.722230,1.897416,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4371,6258,55133,2010,160077.341883,20187.460376,2960.575928,NaN,38987.387704,21844.253484,NaN,...,NaN,9.999561,5.602657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4372,6259,55135,2010,8030.842678,3075.484728,522.653939,NaN,1636.571151,1941.566393,NaN,...,NaN,3.122631,3.704572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4373,6261,55139,2010,51314.480105,13715.025121,1404.931053,NaN,11937.333432,6242.217547,NaN,...,NaN,7.148361,3.737989,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4374,6262,55141,2010,19714.216458,4366.766963,428.698905,NaN,4674.095765,3003.747001,NaN,...,NaN,6.253055,4.018444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4375,6263,56001,2010,14557.063846,4866.388871,141.158724,NaN,2842.974533,1347.228500,NaN,...,NaN,7.832102,3.711476,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4376,6264,56003,2010,2176.423005,775.075209,42.444460,NaN,588.753844,365.002590,NaN,...,NaN,5.045885,3.128236,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4377,6265,56005,2010,10439.717839,1469.776606,141.987522,NaN,3054.719830,585.091439,NaN,...,NaN,6.621550,1.268271,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4378,6266,56007,2010,8595.553725,2267.793237,108.120172,NaN,2097.173771,1186.247447,NaN,...,NaN,13.202227,7.467721,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4379,6268,56011,2010,5139.821969,1834.503647,13.713031,NaN,1297.895773,709.460793,NaN,...,NaN,18.324097,10.016388,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4380,6269,56013,2010,6165.460471,1917.900343,224.978275,NaN,1449.571635,888.438722,NaN,...,NaN,3.612820,2.214288,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4381,6270,56015,2010,3899.109939,1393.307544,78.725853,NaN,782.590872,743.905089,NaN,...,NaN,5.906792,5.614802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4382,6273,56021,2010,22102.092155,5429.283062,262.210062,NaN,5869.729459,2306.901443,NaN,...,NaN,6.398362,2.514663,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4383,6274,56023,2010,2471.173864,578.586738,95.890348,NaN,736.301343,282.604284,NaN,...,NaN,4.066615,1.560832,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4384,6275,56025,2010,32267.100162,9104.081768,683.179916,NaN,7810.494718,4084.784898,NaN,...,NaN,10.351882,5.413896,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4385,6277,56029,2010,5945.469881,2124.311944,74.836389,NaN,1218.903877,1109.586581,NaN,...,NaN,4.321588,3.934007,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4386,6279,56033,2010,12976.661539,3429.677417,191.303361,NaN,2990.575965,1924.728713,NaN,...,NaN,10.271246,6.610553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4387,6280,56035,2010,2054.221776,429.679359,2.456054,NaN,366.647828,259.947317,NaN,...,NaN,3.578099,2.536814,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4388,6281,56037,2010,13391.715505,2414.618816,144.507890,NaN,3583.869531,1240.913685,NaN,...,NaN,8.181230,2.832748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4389,6282,56039,2010,6212.423697,1059.463554,123.365110,NaN,1096.195276,657.168558,NaN,...,NaN,5.147907,3.086168,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4390,6283,56041,2010,4270.147119,1518.415783,74.089696,NaN,1336.553029,360.545416,NaN,...,NaN,6.328975,1.707290,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Extract stores related data
stores = xls.parse(sheet_name='STORES')
stores.columns

Index(['FIPS', 'State', 'County', 'GROC09', 'GROC14', 'PCH_GROC_09_14',
       'GROCPTH09', 'GROCPTH14', 'PCH_GROCPTH_09_14', 'SUPERC09', 'SUPERC14',
       'PCH_SUPERC_09_14', 'SUPERCPTH09', 'SUPERCPTH14', 'PCH_SUPERCPTH_09_14',
       'CONVS09', 'CONVS14', 'PCH_CONVS_09_14', 'CONVSPTH09', 'CONVSPTH14',
       'PCH_CONVSPTH_09_14', 'SPECS09', 'SPECS14', 'PCH_SPECS_09_14',
       'SPECSPTH09', 'SPECSPTH14', 'PCH_SPECSPTH_09_14', 'SNAPS12', 'SNAPS16',
       'PCH_SNAPS_12_16', 'SNAPSPTH12', 'SNAPSPTH16', 'PCH_SNAPSPTH_12_16',
       'WICS08', 'WICS12', 'PCH_WICS_08_12', 'WICSPTH08', 'WICSPTH12',
       'PCH_WICSPTH_08_12'],
      dtype='object')

In [18]:
# Select columns relating to grocery stores, supercenters/warehouses, 
# convenience stores, and specialized food stores
stores = stores[['FIPS','GROC09', 'GROC14', 'GROCPTH09', 'GROCPTH14', 
        'SUPERC09', 'SUPERC14', 'SUPERCPTH09', 'SUPERCPTH14',
       'CONVS09', 'CONVS14', 'CONVSPTH09', 'CONVSPTH14',
       'SPECS09', 'SPECS14', 'SPECSPTH09', 'SPECSPTH14']] 
#        ,'SNAPS12', 'SNAPS16', 'SNAPSPTH12', 'SNAPSPTH16', 
#        'WICS08', 'WICS12', 'WICSPTH08', 'WICSPTH12']]
stores.head()

,FIPS,GROC09,GROC14,GROCPTH09,GROCPTH14,SUPERC09,SUPERC14,SUPERCPTH09,SUPERCPTH14,CONVS09,CONVS14,CONVSPTH09,CONVSPTH14,SPECS09,SPECS14,SPECSPTH09,SPECSPTH14
0,1001,6,4,0.110834,0.072209,1,1,0.018472,0.018052,29,30,0.535698,0.541565,2,2,0.036945,0.036104
1,1003,24,29,0.133775,0.144920,6,6,0.033444,0.029983,119,118,0.663300,0.589673,21,26,0.117053,0.129928
2,1005,5,5,0.180786,0.185963,0,1,0.000000,0.037193,14,19,0.506201,0.706661,2,2,0.072314,0.074385
3,1007,6,5,0.261540,0.222163,1,1,0.043590,0.044433,19,15,0.828211,0.666489,0,1,0.000000,0.044433
4,1009,6,6,0.104637,0.103952,1,1,0.017440,0.017325,31,27,0.540625,0.467784,2,0,0.034879,0.000000

In [19]:
# Select the columns that end with 09
stores_df = stores.filter(regex=("^.*09$"))
stores_df.insert(0,'FIPS',stores['FIPS'])
stores_df.insert(1,'Year',2009)
stores_df = stores_df.rename(columns=lambda x: re.sub('09$','',x))

# Select the columns that end with 14
temp_df = stores.filter(regex=("^.*14$")).rename(columns=lambda x: re.sub('14$','',x))
temp_df.insert(0,'FIPS',access['FIPS'])
temp_df.insert(1,'Year',2014)
temp_df.head()

,FIPS,Year,GROC,GROCPTH,SUPERC,SUPERCPTH,CONVS,CONVSPTH,SPECS,SPECSPTH
0,1001,2014,4,0.072209,1,0.018052,30,0.541565,2,0.036104
1,1003,2014,29,0.144920,6,0.029983,118,0.589673,26,0.129928
2,1005,2014,5,0.185963,1,0.037193,19,0.706661,2,0.074385
3,1007,2014,5,0.222163,1,0.044433,15,0.666489,1,0.044433
4,1009,2014,6,0.103952,1,0.017325,27,0.467784,0,0.000000

In [20]:
# Final dataframe containing store information
stores_df = stores_df.append(temp_df,sort=False)
stores_df.head()

,FIPS,Year,GROC,GROCPTH,SUPERC,SUPERCPTH,CONVS,CONVSPTH,SPECS,SPECSPTH
0,1001,2009,6,0.110834,1,0.018472,29,0.535698,2,0.036945
1,1003,2009,24,0.133775,6,0.033444,119,0.663300,21,0.117053
2,1005,2009,5,0.180786,0,0.000000,14,0.506201,2,0.072314
3,1007,2009,6,0.261540,1,0.043590,19,0.828211,0,0.000000
4,1009,2009,6,0.104637,1,0.017440,31,0.540625,2,0.034879

In [21]:
# Add unique index column
stores_df = stores_df.reset_index()
stores_df = stores_df.rename(columns={'index':'id'})
stores_df.head()

,id,FIPS,Year,GROC,GROCPTH,SUPERC,SUPERCPTH,CONVS,CONVSPTH,SPECS,SPECSPTH
0,0,1001,2009,6,0.110834,1,0.018472,29,0.535698,2,0.036945
1,1,1003,2009,24,0.133775,6,0.033444,119,0.663300,21,0.117053
2,2,1005,2009,5,0.180786,0,0.000000,14,0.506201,2,0.072314
3,3,1007,2009,6,0.261540,1,0.043590,19,0.828211,0,0.000000
4,4,1009,2009,6,0.104637,1,0.017440,31,0.540625,2,0.034879

In [22]:
# Write stores_df to SQL database
stores_df.to_sql(name='stores', con=engine, if_exists='append',index=False)

In [23]:
# Sample query to check that data was written into database
pd.read_sql_query('select * from stores WHERE GROC > 50 AND GROC < 100', con=engine)

,id,FIPS,Year,GROC,GROCPTH,SUPERC,SUPERCPTH,CONVS,CONVSPTH,SPECS,SPECSPTH
0,48,1097,2009,60,0.145633,8,0.019418,260,0.631077,28,0.067962
1,170,5119,2009,72,0.189447,7,0.018419,188,0.494668,19,0.049993
2,189,6007,2009,51,0.232053,1,0.004550,59,0.268454,18,0.081901
3,206,6041,2009,64,0.255120,1,0.003986,45,0.179381,25,0.099656
4,208,6045,2009,52,0.592782,0,0.000000,41,0.467386,8,0.091197
5,209,6047,2009,57,0.225920,1,0.003964,74,0.293299,14,0.055489
6,216,6061,2009,58,0.168698,3,0.008726,99,0.287950,25,0.072715
7,225,6079,2009,67,0.249865,1,0.003729,86,0.320722,32,0.119338
8,229,6087,2009,70,0.269221,1,0.003846,59,0.226915,26,0.099997
9,233,6095,2009,75,0.182798,5,0.012186,115,0.280290,30,0.073119
10,246,8005,2009,77,0.136728,12,0.021308,151,0.268129,43,0.076355
11,265,8041,2009,53,0.087162,13,0.021379,182,0.299312,45,0.074006
12,274,8059,2009,53,0.099631,13,0.024438,155,0.291375,45,0.084593
13,317,10003,2009,77,0.143416,4,0.007450,176,0.327809,52,0.096853
14,324,12009,2009,70,0.129125,12,0.022136,246,0.453783,44,0.081164
15,330,12021,2009,59,0.185252,6,0.018839,105,0.329686,24,0.075357
16,359,12081,2009,60,0.187084,7,0.021826,120,0.374169,14,0.043653
17,360,12083,2009,53,0.160179,6,0.018134,178,0.537959,16,0.048356
18,368,12097,2009,58,0.218648,8,0.030158,104,0.392058,20,0.075396
19,370,12101,2009,71,0.153478,8,0.017293,175,0.378291,27,0.058365
20,377,12115,2009,75,0.198801,4,0.010603,126,0.333985,30,0.079520
21,378,12117,2009,71,0.169133,8,0.019057,173,0.412113,36,0.085758
22,383,12127,2009,74,0.149589,8,0.016172,251,0.507391,29,0.058623
23,639,17089,2009,77,0.150604,7,0.013691,123,0.240576,34,0.066501
24,693,17197,2009,86,0.127413,10,0.014816,162,0.240011,38,0.056299
25,695,17201,2009,55,0.186055,5,0.016914,112,0.378875,24,0.081188
26,741,18089,2009,78,0.157325,5,0.010085,199,0.401380,28,0.056476
27,865,19153,2009,61,0.143281,8,0.018791,154,0.361726,24,0.056373
28,933,20091,2009,64,0.118651,13,0.024101,116,0.215055,43,0.079719
29,974,20173,2009,56,0.113130,11,0.022222,122,0.246462,33,0.066666
...,...,...,...,...,...,...,...,...,...,...,...
153,2227,41039,2014,63,0.175812,18,0.050232,150,0.418600,29,0.080929
154,2241,41067,2014,92,0.163411,17,0.030196,127,0.225578,42,0.074601
155,2249,42011,2014,73,0.176460,7,0.016921,121,0.292489,47,0.113611
156,2258,42029,2014,75,0.146260,4,0.007801,125,0.243767,35,0.068255
157,2265,42043,2014,58,0.213665,4,0.014736,107,0.394175,17,0.062626
158,2282,42077,2014,82,0.229164,4,0.011179,117,0.326977,34,0.095019
159,2283,42079,2014,61,0.191325,4,0.012546,149,0.467335,26,0.081548
160,2291,42095,2014,51,0.169630,2,0.006652,98,0.325956,20,0.066522
161,2308,42129,2014,51,0.141935,7,0.019481,120,0.333964,25,0.069576
162,2310,42133,2014,66,0.149743,8,0.018151,123,0.279067,31,0.070334
163,2338,45045,2014,81,0.167788,10,0.020715,208,0.430863,21,0.043501
164,2341,45051,2014,54,0.180704,9,0.030117,185,0.619077,19,0.063581
165,2355,45079,2014,54,0.134474,6,0.014941,177,0.440774,19,0.047315
166,2460,47065,2014,55,0.156597,8,0.022778,193,0.549513,17,0.048403
167,2474,47093,2014,72,0.160484,10,0.022289,211,0.470306,15,0.033434
168,2583,48121,2014,66,0.087607,18,0.023893,242,0.321226,25,0.033184
169,2601,48157,2014,86,0.125484,13,0.018968,331,0.482968,18,0.026264
170,2630,48215,2014,68,0.081822,13,0.015642,298,0.358573,51,0.061366
171,2692,48339,2014,53,0.102130,10,0.019270,213,0.410447,24,0.046247
172,2862,51087,2014,63,0.195698,7,0.021744,153,0.475267,26,0.080764
173,2872,51107,2014,59,0.162512,6,0.016527,86,0.236882,18,0.049580
174,2892,51153,2014,63,0.141226,11,0.024658,123,0.275727,15,0.033625
175,2945,51760,2014,60,0.275415,1,0.004590,145,0.665586,18,0.082625
176,2950,51810,2014,76,0.168522,6,0.013304,172,0.381392,31,0.068739
177,2959,53011,2014,59,0.130818,14,0.031042,136,0.301547,34,0.075387
178,2985,53063,2014,78,0.161051,11,0.022712,154,0.317973,36,0.074331
179,2987,53067,2014,56,0.210644,7,0.026330,72,0.270828,24,0.090276
180,2992,53077,2014,66,0.266465,8,0.032299,90,0.363362,17,0.068635
181,3060,55025,2014,80,0.154953,5,0.009685,168,0.325402,40,0.077477
182,3115,55133,2014,66,0.167039,6,0.015185,133,0.336608,35,0.088581

In [26]:
# Extract socioeconomic data: median household income and poverty rate 2015
socioeconomic = xls.parse(sheet_name='SOCIOECONOMIC')
socioeconomic.columns

Index(['FIPS', 'State', 'County', 'PCT_NHWHITE10', 'PCT_NHBLACK10',
       'PCT_HISP10', 'PCT_NHASIAN10', 'PCT_NHNA10', 'PCT_NHPI10',
       'PCT_65OLDER10', 'PCT_18YOUNGER10', 'MEDHHINC15', 'POVRATE15',
       'PERPOV10', 'CHILDPOVRATE15', 'PERCHLDPOV10', 'METRO13', 'POPLOSS10'],
      dtype='object')

In [27]:
socioeconomic = socioeconomic[['FIPS',
#                                'PCT_NHWHITE10', 'PCT_NHBLACK10',
#        'PCT_HISP10', 'PCT_NHASIAN10', 'PCT_NHNA10', 'PCT_NHPI10',
#        'PCT_65OLDER10', 'PCT_18YOUNGER10', 
                               'MEDHHINC15', 'POVRATE15']]

In [28]:
# # Select the columns that ends with 15
socioeconomic_df = socioeconomic.filter(regex=("^.*15$")).rename(columns=lambda x: re.sub('15$','',x))
socioeconomic_df.insert(0,'FIPS',socioeconomic['FIPS'])
socioeconomic_df.insert(1,'Year',2015)

# Select the columns that ends with 10
# temp_df = socioeconomic.filter(regex=("^.*10$")).rename(columns=lambda x: re.sub('10$','',x))
# temp_df.insert(0,'FIPS',socioeconomic['FIPS'])
# temp_df.insert(1,'Year',2010)

# socioeconomic_df = socioeconomic_df.append(temp_df,sort=False)
socioeconomic_df.head()

   FIPS  Year  MEDHHINC  POVRATE
0  1001  2015   56580.0     12.7
1  1003  2015   52387.0     12.9
2  1005  2015   31433.0     32.0
3  1007  2015   40767.0     22.2
4  1009  2015   50487.0     14.7

In [29]:
# Write socioeconomic_df to SQL database
socioeconomic_df.to_sql(name='socioeconomic', con=engine, if_exists='append',index=False)

In [30]:
# Data Source: Median Value Home Values from Zillow
zillow_median_xl = "data/County_MedianValuePerSqft_AllHomes.csv"
zillow_median_df = pd.read_csv(zillow_median_xl, encoding='ISO-8859-1')
#FIPS = 2 digit StateCodeFIPS + 3 digit MunicipalCodeFIPS
#add leading zeros to state codes that are 1 value long
zillow_median_df['StateCodeFIPS']=zillow_median_df['StateCodeFIPS'].apply(lambda x: '{0:0>2}'.format(x))
#add leading zeros to muncipal codes so that all are 3 digits
zillow_median_df['MunicipalCodeFIPS']=zillow_median_df['MunicipalCodeFIPS'].apply(lambda x: '{0:0>3}'.format(x))
#combine State and Muncipal FIPS code to get FIPS code. 
zillow_median_df['FIPS']=zillow_median_df['StateCodeFIPS']+zillow_median_df['MunicipalCodeFIPS']
zillow_median_df.columns

Index(['RegionID', 'RegionName', 'State', 'Metro', 'StateCodeFIPS',
       'MunicipalCodeFIPS', 'SizeRank', '1996-04', '1996-05', '1996-06',
       ...
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', 'FIPS'],
      dtype='object', length=284)

In [31]:
# select columns for 2018-01 through 2019-03
zillow_df = zillow_median_df.iloc[:,148:283]
zillow_df.insert(0,'FIPS',zillow_median_df['FIPS'])

In [32]:
# sort by FIPS
zillow_df.sort_values('FIPS',inplace=True)

In [33]:
zillow_df.head()

,FIPS,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,...,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03
799,01001,98.0,94.0,90.0,87.0,86.0,85.0,85.0,85.0,85.0,...,89,90,90,91,92,93,93,92,92,91
326,01003,113.0,112.0,112.0,112.0,111.0,110.0,109.0,107.0,106.0,...,112,113,113,112,113,113,114,115,115,115
772,01009,71.0,70.0,70.0,70.0,70.0,69.0,69.0,70.0,70.0,...,72,73,74,74,75,74,75,75,76,75
1216,01019,64.0,64.0,64.0,65.0,65.0,64.0,64.0,63.0,63.0,...,66,67,69,70,70,70,70,71,70,70
924,01021,55.0,56.0,56.0,57.0,57.0,57.0,57.0,57.0,57.0,...,60,60,60,61,62,62,63,63,63,62

In [34]:
#create index to match autoincrementing id in MySQL
zillow_df = zillow_df.reset_index()
zillow_df = zillow_df.rename(columns={'index':'id'})

In [35]:
#read data to MySQL
zillow_df.to_sql(name='zillow_median', con=engine, if_exists='append',index=False)

In [36]:
# Sample query to check that data was written into database
pd.read_sql_query('select FIPS, `2019-03` from zillow_median\
            WHERE `2019-03` > 150 AND `2019-03` < 200', con=engine)

      FIPS  2019-03
0    02020      187
1    02122      154
2    02130      194
3    04007      165
4    04013      160
5    04025      180
6    06005      192
7    06009      197
8    06011      159
9    06019      159
10   06021      162
11   06033      177
12   06039      153
13   06043      174
14   06047      167
15   06063      175
16   06089      176
17   06101      172
18   06105      197
19   06115      172
20   08065      197
21   08077      159
22   08083      171
23   08085      161
24   09001      187
25   09005      155
26   09007      166
27   09009      151
28   10005      156
29   12011      186
..     ...      ...
164  51187      155
165  51685      195
166  51735      152
167  51760      152
168  51810      153
169  51830      154
170  53003      175
171  53009      194
172  53015      180
173  53021      156
174  53039      167
175  53041      152
176  53045      190
177  53067      193
178  53071      181
179  53075      169
180  53077      151
181  55025      184
182  55109      161
183  55133      164
184  56001      193
185  56005      197
186  56009      179
187  56013      161
188  56019      167
189  56023      154
190  56025      170
191  56029      175
192  56033      189
193  56037      171

[194 rows x 2 columns]

In [37]:
# Example query
# Return the number of counties where median house value per sqft is under 150 in 2019-03
pd.read_sql_query('select count(FIPS) from zillow_median\
            WHERE `2019-03` < 150', con=engine)

   count(FIPS)
0         1365

In [38]:
# Example query
# Select the median household income, poverty rate, 
# and the number of grocery stores, supercenters, convenience stores, 
# and specialty foods stores in the counties
# where the poverty rate is greater than 45
# Displaying most recent 4 entries
pd.read_sql_query('SELECT a.FIPS, f.State, f.County, s.Year, s.MEDHHINC, s.POVRATE,\
                    a.Year, a.GROC, a.SUPERC, a.CONVS, a.SPECS\
                  FROM fips_codes f \
                  JOIN stores a on f.FIPS = a.FIPS \
                 JOIN socioeconomic s ON f.FIPS = s.FIPS \
                 WHERE s.POVRATE > 45 ORDER BY a.Year DESC LIMIT 4', con=engine)

,FIPS,State,County,Year,MEDHHINC,POVRATE,Year,GROC,SUPERC,CONVS,SPECS
0,21051,KY,Clay,2015,24001.0,46.8,2014,6,0,11,0
1,28021,MS,Claiborne,2015,26959.0,46.3,2014,3,0,5,0
2,46031,SD,Corson,2015,31621.0,47.4,2014,1,0,1,0
3,46137,SD,Ziebach,2015,33239.0,47.1,2014,0,0,1,0

In [39]:
# Example query
# Return the number of grocery stores, supercenters, convenience stores,
# and specialty stores in Cook County, IL
pd.read_sql_query('SELECT s.GROC, s.SUPERC, s.CONVS, s.SPECS, s.Year, \
                f.FIPS, f.State, f.County \
                FROM stores s \
                JOIN fips_codes f \
                ON s.FIPS = f.FIPS \
                WHERE f.State = "IL" AND f.County = "Cook"', con=engine)

   GROC  SUPERC  CONVS  SPECS  Year   FIPS State County
0  1400      26   1300    459  2009  17031    IL   Cook
1  1493      45   1348    417  2014  17031    IL   Cook

In [40]:
# Example query
# Select the median household income, poverty rate, 
# and median house value per sqft 
# Displaying the 5 counties with highest poverty rate
pd.read_sql_query('SELECT f.FIPS, f.State, f.County, \
                    s.MEDHHINC, s.POVRATE, z.`2019-03`\
                    FROM fips_codes f \
                    JOIN zillow_median z ON f.FIPS = z.FIPS\
                    JOIN socioeconomic s ON f.FIPS = s.FIPS \
                    ORDER BY s.POVRATE DESC LIMIT 5', con=engine)

    FIPS State        County  MEDHHINC  POVRATE  2019-03
0  22035    LA  East Carroll   26325.0     43.5       23
1  28053    MS     Humphreys   25625.0     41.5       45
2  13059    GA        Clarke   33302.0     38.1      103
3   4001    AZ        Apache   31072.0     38.0      105
4   1063    AL        Greene   25398.0     37.7       54

In [41]:
# Example query
# Return the top five counties with the largest median house value per sqft in 2019-03
pd.read_sql_query('SELECT f.FIPS, f.State, f.County, z.`2019-03`\
                    FROM fips_codes f \
                    JOIN zillow_median z \
                    ON f.FIPS = z.FIPS \
                    ORDER BY z.`2019-03` DESC LIMIT 5', con=engine)

    FIPS State         County  2019-03
0  36061    NY       New York     1376
1   6075    CA  San Francisco     1051
2   6081    CA      San Mateo      911
3  25019    MA      Nantucket      802
4   8097    CO         Pitkin      792