In [17]:
import pandas as pd
fips_xl = "data/FIPS_codes.xlsx"
fip = pd.ExcelFile(fips_xl)

In [18]:
fip_df = fip.parse() 
fip_df.head()

   FIPS     Name State
0  1001  Autauga    AL
1  1003  Baldwin    AL
2  1005  Barbour    AL
3  1007     Bibb    AL
4  1009   Blount    AL

In [22]:
zillow_xl = "data/County_MedianValuePerSqft_AllHomes.csv"
zillow = pd.read_csv(zillow_xl, encoding='ISO-8859-1')
zillow.head()

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,1996-04,1996-05,1996-06,...,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03
0,3101,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,113.0,113.0,113.0,...,420,421,422,423,425,426,426,427,427,426
1,139,Cook County,IL,Chicago-Naperville-Elgin,17,31,2,104.0,105.0,105.0,...,166,166,166,166,167,168,169,169,170,171
2,1090,Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,51.0,51.0,51.0,...,97,97,98,98,98,99,99,100,101,101
3,2402,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,62.0,62.0,62.0,...,152,153,154,155,156,157,158,159,160,160
4,2841,San Diego County,CA,San Diego-Carlsbad,6,73,5,104.0,104.0,104.0,...,368,370,372,373,373,375,375,374,374,374